body{
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    text-align: right;
    background-color: rgb(245, 245, 245);
    height: 25px;
    padding: 35px;
}
.navbar a{
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 30px;
}
.navbar a:hover{
    background-color:rgb(68, 68, 68); 
    color:red;
}
.main{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    background-color: rgb(0, 0, 0);
    margin: 10%;
}